<div class="text-center">
    <a class="btn btn-lg btn-primary" href="/auth/facebook">Sign in via Facebook</a>
</div>
<h4 class="text-center">Or using your details</h4>
<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
    <form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
        <fieldset>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
            </div>
            <div class="text-center form-group">
                <button type="submit" class="btn btn-primary">Sign in</button>&nbsp; or&nbsp;
                <a href="/#!/signup">Sign up</a>
            </div>
            <div data-ng-show="error" class="text-center text-danger">
                <strong>{{error}}</strong>
            </div>
        </fieldset>
    </form>
</div>